html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  margin: 20px 20px;
  height: 100vh;
  margin-bottom: 40px;
}

.return {
  color: #2f2f8d;
}

.cancel {
  color: #d60000;
}

.success {
  color: #32c21a;
}

.confirmation {
  color: #f9ef00;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.color-primary {
  color: #2f2f8d;
}

.bg-primary {
  background: #2f2f8d;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.container-standart {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 152px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 20px;
}

.bg-white {
  background: #fff;
}

.button-primary {
  border: none;
  padding: 5px 20px;
  font-size: 11px;
  background: #2f2f8d;
  color: #fff;
  border-radius: 5px;
}

.color-primary {
  color: #2f2f8d;
}

.profile-mitra {
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 15vh;
  width: 15vh;
}

.profile-main {
  padding: 30px;
  position: absolute;
  z-index: 1;
  top: 33vh;
  background: #fff;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 115vh;
}

.profile-photo-div {
  width: 100%;
  height: 100px;
  background: #f7f7f7;
  border-radius: 10px;
  margin: 15px 0px;
}

.profile-name-balance {
  margin-top: 65px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.profile-div-product {
  width: 100%;
  padding-top: 100px;
  background: #fbfbfb;
  min-height: 100vh;
  height: auto;
  text-align: center;
  margin-top: -20px;
}

.profile-div-photo {
  height: 100px;
  width: 100px;
  padding-top: 35px;
  border: dotted #2f2f8d;
  padding-left: 15px;
  font-size: 14px;
  border-radius: 12px;
}

.product-div {
    padding: 10px;
    background: #fff;
    height: 120px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #d4d4d494;
}

.product-profile-div {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #000;
}

.partner-profile-text-logo {
  background: #0062cc;
    font-size: 50px;
    font-weight: 600;
    width: 90px;
    color: #FFF;
    box-shadow: 0px 2px 4px #0062cc;
    padding-top: 5px;
    border-radius: 50px;
    margin: auto;
    height: 90px;
}

.label-form {
  color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

.custom-form {
    border-top: none;
    padding-left: 0px;
    border-right: none;
    border-bottom: thin solid rgb(0, 0, 0);
    border-left: none;
    border-image: initial;
    border-radius: 0px;
}